.navp{
    display: grid;
    height: 100px;
    background-color: rgb(255, 241, 89);
    grid-template-columns: 20% 40% 40%;
    justify-items: center;
    gap: 25px;
    border: 10px;
}

.buscador{
    display: flex;
    background: white;
}

.suscrip{
    height: 39px;
    width: 340px;
}
.menu{
    display: flex;
    align-items: end;
}
.cliente{
    display: flex;
    width: 390px;
    height: 28px;
    justify-content: end;
    align-items: end;
}